[Desktop Entry]
Name=白い熊 TUXEDO Control Center
Comment=Tray icon for 白い熊 TUXEDO Control Center
Exec=/opt/shiroikuma-tuxedo-control-center/tuxedo-control-center --tray
Terminal=false
Type=Application
Icon=tuxedo-control-center
Categories=System;TrayIcon
